.idea

*.sqlite3
ads.txt
.env

*.sql
*.zip
*.gz

*/**/__pycache__
*/**/*.pyc

.DS_Store
.vscode/
.python-version

cache
node_modules
venv
.venv
media
/static/
setup.cfg
errors.log
flake8-requirements.txt
/app/templates/sitemaps/

logs/
