a.link-status-404 {
	position: relative;

	span.link-status-indicator {
		position: absolute;
		inset: 0;

		z-index: 10;

		border-radius: inherit;
		box-shadow: inset 0 0 0 2px red !important;
	}
}

a.link-status-200 {
	position: relative;

	span.link-status-indicator {
		position: absolute;
		inset: 0;

		z-index: 10;

		border-radius: inherit;
		box-shadow: inset 0 0 0 2px green !important;
	}
}

table.check-links-result {
	position: fixed;
	top: 10%;
	right: 0;
	z-index: 9999;

	width: 320px;
	padding: 15px;

	text-align: left;

	background-color: #fff;
	border: 1px solid rgba(#000, 0.1);
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(#000, 0.16);

	thead {
		color: #fff;

		background-color: rgba(#000, 0.5);

		th {
			padding: 3px 5px;

			border-radius: 3px;
		}
	}

	tbody {
		tr {
			background-color: rgba(#000, 0.05);
		}
	}

	.links-404,
	.links-500 {
		max-height: 35vh;
		overflow-y: auto;
	}

	a {
		display: inline-block;

		color: currentcolor;

		&:hover {
			color: var(--theme-color);
		}
	}
}

.check-links-btn {
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 999999;

	padding: 5px 10px;

	color: var(--theme-color);
	text-transform: uppercase;

	background-color: #fff;
	border: 1px solid currentcolor;
	cursor: pointer;

	user-select: none;
}
