@use "../functions" as *;

.circle-loading {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(50);
	height: rem(50);
	margin: 0 auto;

	&:before {
		z-index: 0;

		width: 100%;
		height: 100%;

		border: rem(2) solid rgba(var(--black-color-rgb), 0.1);
		border-radius: 50%;

		content: "";
	}

	&:after {
		position: absolute;
		z-index: 1;

		width: 100%;
		height: 100%;

		border: rem(2) solid transparent;
		border-top-color: var(--theme-color);
		border-radius: 50%;

		animation: rotate 1s linear infinite;

		content: "";
	}

	@keyframes rotate {
		to {
			transform: rotate(360deg);
		}
	}
}
