@use "navigation";
@use "tabs";
@use "breadcrumbs";
@use "banners";
@use "buttons";
@use "accordion";
@use "logo";
@use "header";
@use "lang-switcher";
@use "login-panel";
@use "header-search";
@use "circle-loading";
@use "rewards";
@use "verified";
@use "star-rating";
@use "stars-rating";
@use "footer";
@use "social-links";
@use "organization-item";
@use "pagination";
@use "hero-banner";
@use "hero-counters";
@use "cards";
@use "review-form";
@use "reviews";
@use "images-upload";
@use "widgets";
@use "author";
@use "cookie-consent";
@use "comments";
@use "search-item";
