@use "../functions" as *;
@use "../mixins/mixins" as *;

.footer {
	display: flow-root;
	margin-top: rem(30);

	background-color: var(--light-color);
	border-top: rem(1) solid rgba(var(--black-color-rgb), 0.1);

	&__topline {
		padding: rem(10) rem(20);

		background-color: var(--white-color);

		box-shadow: var(--box-shadow-1);

		@include lg-u {
			padding: rem(10) rem(30);
		}
	}

	.offers__link {
		display: inline-block;
		padding: rem(10) rem(20);

		color: var(--theme-color);
		font-weight: var(--medium);
		font-size: em(14);
		line-height: 1;
		white-space: nowrap;
		text-transform: uppercase;
		text-decoration: underline;
		text-decoration: none;

		background-color: var(--light-color);
		border-radius: var(--border-radius-sm);

		@include transition;

		@include hover {
			color: white;

			background-color: var(--theme-color);
		}
	}

	&__bottomline {
		padding: rem(10) rem(20);

		color: var(--bg-color);

		background-color: var(--text-color);

		border-top: rem(1) solid rgba(var(--black-color-rgb), 0.1);

		@include lg-u {
			padding: rem(10) rem(30);
		}
	}

	&__content {
		padding: rem(30) rem(20);

		@include lg-u {
			padding: rem(30);
		}
	}

	&__title {
		margin: rem(10) 0 rem(20) rem(10);
		padding-bottom: rem(10);

		border-bottom: rem(1) solid rgba(var(--black-color-rgb), 0.1);
	}

	&__nav {
		height: 100%;
		padding: rem(20) rem(10);

		background-color: rgba(var(--white-color-rgb), 0.5);

		border: rem(1) solid rgba(var(--black-color-rgb), 0.1);
		border-radius: var(--border-radius-sm);

		a {
			position: relative;

			z-index: 1;

			display: flex;
			gap: rem(10);
			padding: rem(8) rem(15);

			color: var(--text-color);
			font-size: em(15);
			line-height: 1.3;

			text-decoration: none;

			border-radius: var(--border-radius-sm);

			&:before {
				display: inline-block;
				flex: 0 0 rem(8);
				height: rem(2);
				margin-top: em(9);

				background-color: currentcolor;
				border-radius: 10em;

				content: '';
			}

			&:after {
				position: absolute;
				right: 0;
				bottom: 0;
				left: rem(32);

				display: block;
				height: rem(1);

				background-image: linear-gradient(90deg, rgba(var(--black-color-rgb), 0.1), transparent 80%);

				content: '';
			}

			@include hover {
				color: var(--theme-color);
				text-decoration: underline;

				&[href^="http"] {
					text-decoration: dotted underline;
				}
			}
		}

		li {
			&:last-child a {
				&:after {
					display: none;
				}
			}
		}
	}

	&__copy {
		margin: 0;

		font-size: em(14);
	}
}
