@use "../functions" as *;
@use "../mixins/mixins" as *;

.images-upload {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;

	input[type="file"] {
		display: none;
	}

	&__info {
		display: block;
		width: 100%;
		margin-top: rem(16);
		padding: rem(32) 0;

		text-align: center;

		border: rem(2) dashed rgba(#000, 0.2);
		border-radius: var(--border-radius-sm);
		cursor: pointer;

		&.dragover {
			border-color: var(--theme-color);
		}
	}

	&__info--browse {
		color: var(--theme-color);
	}

	&__preview {
		display: flex;
		flex-wrap: wrap;
		gap: rem(16);
		width: 100%;
		height: 100%;
		padding: rem(16) 0;

		img {
			width: rem(100);
			height: rem(100);

			border-radius: var(--border-radius-sm);

			@include sm-d {
				width: rem(80);
				height: rem(80);
			}
		}

		&--item {
			position: relative;

			display: block;
		}
	}

	&__remove {
		position: absolute;
		top: rem(-8);
		right: rem(-8);

		display: block;

		width: rem(24);
		height: rem(24);

		color: var(--text-color);
		line-height: 1;

		background-color: var(--light-color);
		border: none;
		border-radius: 50%;

		cursor: pointer;

		@include transition;

		@include hover {
			color: white;

			background-color: var(--accent-color);
		}
	}

	&__errors {
		font-size: em(14);

		p {
			margin: 0;
			padding: rem(4) 0;

			color: var(--error-color);
		}
	}
}
