@use "../functions" as *;
@use "../mixins/mixins" as *;

.login-btn {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: var(--text-color);
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;

	background: none;
	border: none;

	cursor: pointer;

	appearance: none;

	@include transition;

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(22);
		height: rem(22);

		svg {
			width: 100%;
		}
	}

	&__text {
		display: block;
		margin-top: rem(4);

		font-size: em(14);
	}

	@include hover {
		color: var(--theme-color);
	}
}
