@use "../functions" as *;
@use "../mixins/mixins" as *;

.review-form {
	display: flex;

	@include sm-d {
		flex-direction: column-reverse;
	}

	&--left,
	&--right {
		display: flex;
		flex: 0 0 50%;
		flex-direction: column;
		gap: 1rem;
		width: 50%;
		padding: 1rem 0.5rem 0;

		@include sm-d {
			flex: 0 0 100%;
			width: 100%;
		}
	}

	&--left {
		padding-left: 0;
	}

	&--right {
		padding-right: 0;

		@include sm-d {
			padding: 1rem 0 0;
		}
	}

	&__filed-title {
		display: block;
		margin: 0;

		font-weight: normal;
		font-size: em(16);
		line-height: 1;
	}

	&__rating-container {
		display: flex;
		gap: rem(8);
	}

	&__rating {
		display: flex;
		flex-direction: row-reverse;

		@include hover {
			label,
			input + label {
				color: var(--placeholder-color);
			}
		}

		label {
			display: flex;
			align-items: center;
			justify-content: center;
			width: rem(26);
			height: rem(26);
			padding: rem(2);

			color: var(--placeholder-color);

			cursor: pointer;

			@include hover {
				&,
				& ~ label {
					color: var(--accent-color) !important;
				}
			}
		}

		input:checked + label {
			color: var(--accent-color);
		}

		input:checked ~ label {
			color: var(--accent-color);
		}
	}

	textarea {
		width: 100%;
		padding: rem(12) rem(16);

		font-size: 1em;
		line-height: 1.5;

		background-color: var(--light-color);

		border: rem(1) solid rgba(var(--black-color-rgb), 0.1);
		border-radius: var(--border-radius-sm);

		resize: none;

		@include transition(background-color);

		&:focus {
			background-color: var(--white-color);
			outline: none;
		}
	}
}
