@use "sass:map";
@use "../functions" as *;
@use "../mixins/mixins" as *;
@use "../vars" as *;

.reviews {
	margin-top: rem(30);

	&__title {
		margin: 0;
	}
}

.reviews-list {
	display: flex;
	flex-direction: column;
	gap: rem(10);
	margin: 0;
	padding: 0;

	list-style: none;

	&__item {
		display: block;
	}
}

.review {
	padding: rem(20);

	border: rem(1) solid rgba(var(--black-color-rgb), 0.1);
	border-radius: var(--border-radius);

	&__header {
		display: flex;
		gap: rem(10);
	}

	&__meta {
		display: flex;
		gap: rem(5);

		font-size: em(14);
	}

	&__date {
		display: flex;
		gap: rem(5);
		align-items: center;

		color: var(--gray-color);

		&:after {
			display: block;
			margin: 0 rem(2);

			content: "•";
		}
	}

	&__avatar {
		position: relative;

		width: rem(36);
		height: rem(36);

		span {
			position: absolute;

			display: flex;
			align-items: center;
			justify-content: center;

			color: rgba(var(--black-color-rgb), 0.5);

			font-weight: bold;

			font-size: rem(20);

			line-height: 1;
			text-transform: uppercase;

			background-color: var(--avatar-bg, var(--light-color));
			border-radius: 50%;
			inset: 0;

			@each $symbol in map.keys($char-bg-map) {
				&[data-char="#{$symbol}"] {
					color: map.get($char-fg-map, $symbol);

					background: map.get($char-bg-map, $symbol);
				}
			}
		}
	}

	&__content {
		margin-top: rem(10);

		font-size: em(14);
		line-height: 1.4;

		p {
			margin: 0;
		}
	}

	&__images {
		display: flex;
		flex-wrap: wrap;
		gap: rem(5);
		margin-top: rem(10);

		img {
			width: rem(80);
			height: rem(80);

			border-radius: var(--border-radius-sm);

			@include transition;

			@include hover {
				transform: scale(1.05);
			}
		}
	}
}

.reviews-carousel {
	width: 100%;
	padding: rem(10) rem(20) rem(30);

	@include hover {
		.swiper-button-prev,
		.swiper-button-next {
			opacity: 0.7;
		}
	}

	.swiper-slide {
		@include transition(opacity);
	}

	.swiper-slide:not(.swiper-slide-visible) {
		opacity: 0;
	}

	.swiper-button-prev {
		left: 0;
	}

	.swiper-button-next {
		right: 0;
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: calc(50% - rem(30));

		display: flex;
		width: rem(40);
		height: rem(40);
		margin-top: 0;
		padding: rem(5);

		color: var(--white-color);

		background-color: var(--black-color);

		border: rem(1) solid rgba(var(--black-color-rgb), 0.1);
		border-radius: 50%;
		opacity: 0.3;

		@include transition;

		&:after {
			color: inherit;
			font-size: rem(20);

			@include transition;
		}

		@include hover {
			opacity: 1;
		}
	}

	.swiper-button-disabled {
		display: none;
	}

	.review {
		background-color: var(--white-color);
		border: none;
		box-shadow: var(--box-shadow-1);
	}
}
