@use "../functions" as *;

.verified {
	position: relative;

	display: block;
	flex: 0 0 rem(28);
	width: rem(28);
	height: rem(28);

	color: var(--green-color);

	svg {
		stroke: var(--white-color);
		stroke-width: rem(1);
	}

	&:before {
		position: absolute;
		top: calc(50% - rem(10));
		left: calc(50% - rem(10));
		z-index: -1;

		display: block;

		width: rem(20);
		height: rem(20);

		background-color: var(--white-color);
		border-radius: 50%;

		content: '';
	}
}
