.ratio {
	--ratio: calc(9 / 16 * 100%);

	position: relative;

	display: block;
	width: 100%;
	height: auto;

	> * {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		width: 100%;
		height: 100%;
	}

	&:before {
		position: relative;
		z-index: 0;

		display: block;
		width: 100%;
		height: 0;
		padding-bottom: var(--ratio);

		content: "";
	}
}
