%overlay {
	position: absolute;
	z-index: 0;

	display: block;
}

@mixin overlay($color: rgba(#000, 0.5), $offset: 0, $element: before) {
	> * {
		position: relative;
		z-index: 1;
	}

	@if $element == before or $element == after {
		&:#{$element} {
			inset: $offset $offset $offset $offset;

			background-color: $color;

			content: "";

			@extend %overlay;
			@content;
		}
	} @else {
		> #{$element} {
			&:first-of-type {
				@extend %overlay;

				inset: $offset $offset $offset $offset;

				background-color: $color;
				@content;
			}
		}
	}
}
