// Only display content to screen readers
@mixin sr-only {
	position: absolute;

	width: 0.062rem;
	height: 0.062rem;
	padding: 0;
	overflow: hidden;

	white-space: nowrap;

	border: 0;

	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
}

// Use in conjunction with .sr-only to only display content when it's focused.
@mixin sr-only-focusable {
	&:active,
	&:focus {
		position: static;

		width: auto;
		height: auto;
		overflow: visible;

		white-space: normal;

		clip: auto;
		clip-path: none;
	}
}
