@use "sass:map";
@use "../vars" as *;

@mixin transition(
  $prop: map.get($transition, prop),
  $duration: map.get($transition, duration),
  $animation: map.get($transition, animation)
) {
  & {
    transition: $prop $duration $animation;
  }
}
