@use "../functions" as *;
@use "../mixins/mixins" as *;

.nf-banner {
	display: flex;
	gap: rem(40);
	padding: rem(40) rem(60);

	background-color: var(--white-color);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-1);

	@include md-d {
		flex-direction: column;
	}

	&__description {
		font-size: em(18);
	}
}
