{% load i18n %}

<section id="listings">
  <h2>{% trans "CSV File (Minimal example)" %}</h2>
  <table class="listing">
    <thead>
      <tr>
        <th>id</th>
        <th>text</th>
        <th>user</th>
        <th>date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>998</td>
        <td>{% trans "Example comment text" %}</td>
        <td>John / m_john</td>
        <td>2025-12-31 17:45</td>
      </tr>
      <tr>
        <td>999</td>
        <td>{% trans "Example comment text" %}</td>
        <td>Alex / alex_dude</td>
        <td>2025-12-31 17:45</td>
      </tr>
      <tr>
        <td>...</td>
      </tr>
    </tbody>
  </table>
</section>
