{% extends "base.html" %}

{% block body_class %}template-blog-index-page{% endblock %}

{% load i18n core blog authors wagtailcore_tags %}

{% block content %}
  <div class="container">
    <div class="row v-gutters">
      <div class="col-lg-9 col-12">
        <h1 class="page__title">{{ page.title|mark|safe }}</h1>

        {% if request.GET.author %}
          {% get_author_by_slug request.GET.author as author %}
          {% blocktranslate with author_name=author.title asvar section_title %}[[By author]]: {{ author_name }}{% endblocktranslate %}
          {% include "includes/section-header.html" %}
        {% elif request.GET.tag %}
          {% get_tag_by_slug request.GET.tag as tag %}
          {% blocktranslate with tag_name=tag.tag.name asvar section_title %}[[By tag]]: {{ tag_name }}{% endblocktranslate %}
          {% include "includes/section-header.html" %}
        {% endif %}
        {% if page.subtitle %}<div class="h2 page__subtitle">{{ page.subtitle|richtext }}</div>{% endif %}
        {% include_block page.banners %}

        <div class="posts-list">
          <div class="row v-gutters">
            {% get_paginated_blog_posts page as posts %}
            {% for post in posts %}
              <div class="col-xl-4 col-md-6 col-12">{% include "blog/includes/post-item.html" %}</div>
            {% endfor %}
          </div>
        </div>

        {% include "includes/pagination.html" with page_obj=posts %}
      </div>

      <div class="col-lg-3 col-12">
        <div class="sidebar">{% include "blog/includes/sidebar.html" %}</div>
      </div>
    </div>
  </div>
{% endblock content %}
