@use "sass:map";
@use "sass:meta";
@use "vars" as *;
@use "functions" as *;

:root {
	@each $color in map.keys($colors) {
		--#{'' + $color}-color: #{map.get($colors, $color)};
		--#{'' + $color}-color-rgb: #{hex-to-rgb(map.get($colors, $color))};
	}

	@if meta.variable-exists(colors-dark-mode) {
		@media (prefers-color-scheme: dark) {
			@each $color in map.keys($colors-dark-mode) {
				--#{'' + $color}-color: #{map.get($colors-dark-mode, $color)};
				--#{'' + $color}-color-rgb: #{hex-to-rgb(map.get($colors-dark-mode, $color))};
			}
		}
	}
}
