@use "vars";
@use "functions" as *;

:root {
	// Gutters
	--gutter-x: #{vars.$gutter-x};
	--gutter-y: #{vars.$gutter-y};

	// Gradients
	--blue-gradient: linear-gradient(90deg, #0374c2 50%, #8bd0fe);
	--yellow-gradient: linear-gradient(70deg, #faa840 20%, #ffd853);

	// Box Shadow
	--box-shadow-0: none;
	--box-shadow-1: 0 0.062rem 0.188rem rgba(0, 0, 0, 12%), 0 0.062rem 0.125rem rgba(0, 0, 0, 12%);
	--box-shadow-2: 0 0.188rem 0.375rem rgba(0, 0, 0, 16%), 0 0.188rem 0.375rem rgba(0, 0, 0, 11.5%);
	--box-shadow-3: 0 0.625rem 1.25rem rgba(0, 0, 0, 19%), 0 0.375rem 0.375rem rgba(0, 0, 0, 11.5%);
	--box-shadow-4: 0 0.875rem 1.75rem rgba(0, 0, 0, 25%), 0 0.625rem 0.625rem rgba(0, 0, 0, 11%);
	--box-shadow-5: 0 1.188rem 2.375rem rgba(0, 0, 0, 30%), 0 0.938rem 0.75rem rgba(0, 0, 0, 11%);

	// Box Shadow Inset
	--box-shadow-inset-1: inset 0 0.062rem 0.188rem rgba(0, 0, 0, 12%), inset 0 0.062rem 0.125rem rgba(0, 0, 0, 12%);
	--box-shadow-inset-2: inset 0 0.188rem 0.375rem rgba(0, 0, 0, 16%), inset 0 0.188rem 0.375rem rgba(0, 0, 0, 11.5%);
	--box-shadow-inset-3: inset 0 0.625rem 1.25rem rgba(0, 0, 0, 19%), inset 0 0.375rem 0.375rem rgba(0, 0, 0, 11.5%);
	--box-shadow-inset-4: inset 0 0.875rem 1.75rem rgba(0, 0, 0, 25%), inset 0 0.625rem 0.625rem rgba(0, 0, 0, 11%);
	--box-shadow-inset-5: inset 0 1.188rem 2.375rem rgba(0, 0, 0, 30%), inset 0 0.938rem 0.75rem rgba(0, 0, 0, 11%);

	// Border Radius
	--ui-border-radius-md: #{rem(12)};
	--border-radius: #{rem(12)};
	--border-radius-sm: #{rem(8)};

	// Font Weight Helpers
	--thin: 100;
	--extra-light: 200;
	--light: 300;
	--regular: 400;
	--medium: 500;
	--semi-bold: 600;
	--bold: 700;
	--extra-bold: 800;
	--black: 900;
	--extra-black: 950;

	// Mmenu
	--mm-spn-item-height: #{rem(50)};
	--mm-spn-item-indent: #{em(20)};
	--mm-spn-line-height: #{em(24)};
	--mm-ocd-min-width: #{rem(200)};
	--mm-ocd-max-width: #{rem(440)};
}
