{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Organizations list" %}
{% endblock %}

{% block extrahead %}
  <meta name="description" content="{% trans "Organizations list page." %}">
{% endblock extrahead %}

{% block body_class %}template-catalog-organizations{% endblock %}

{% block content %}
  <section class="section section-new-in-city">
    <div class="container">
      {% if request.GET.address %}
        {% trans "[[By address]]: "|add:request.GET.address as section_title %}
      {% else %}
        {% trans "Organizations" as section_title %}
      {% endif %}
      {% include "includes/section-header.html" %}

      <div class="row v-gutters">
        {% for organization in organizations %}
          <div class="col-lg-3 col-sm-6 col-12">{% include "catalog/includes/organization-item.html" %}</div>
        {% endfor %}
      </div>

      {% include "includes/pagination.html" with page_obj=organizations %}
    </div>
  </section>
{% endblock content %}
