@use "sass:map";
@use "../vars" as *;
@use "../mixins/mixins" as *;

@mixin row {
	%row {
		display: flex;
		flex-wrap: wrap;
		margin-right: calc(var(--gutter-x) * -0.5);
		margin-left: calc(var(--gutter-x) * -0.5);

		&.v-gutters {
			row-gap: var(--gutter-y);
		}
	}

	.nowrap {
		flex-wrap: nowrap;
	}

	.row {
		@extend %row;
	}

	.row-reverse {
		@extend %row;

		flex-direction: row-reverse;
	}

	@each $bp in map.keys($breakpoints) {
		@if $bp != "xs" {
			.row-#{$bp}-reverse {
				@extend %row;

				@include breakpoint-up($bp) {
					flex-direction: row-reverse;
				}
			}
		}
	}
}
