@use "../functions" as *;
@use "../mixins/mixins" as *;

// .template-catalog-organization {
// }

.organization {
	&__header {
		padding: rem(20) 0;
	}

	&__heading {
		display: flex;
		gap: rem(10);

		@include md-d {
			gap: rem(6);
		}
	}

	.verified {
		top: rem(3);

		@include md-d {
			top: rem(2);
		}

		@include sm-d {
			top: rem(1);
		}
	}

	&__title {
		margin: 0;
	}

	&__achievements {
		display: flex;
		gap: rem(20);
		align-items: center;
		margin-top: rem(10);
	}

	&__content {
		display: flex;

		border-top: rem(1) solid rgba(var(--black-color-rgb), 0.1);
		border-bottom: rem(1) solid rgba(var(--black-color-rgb), 0.1);

		@include md-d {
			flex-direction: column;

			&--left {
				width: 100%;
				padding: rem(20) 0;

				border-right: none;
			}

			&--right {
				width: 100%;
				padding: rem(20) 0;
			}
		}

		&--left {
			width: 50%;
			padding: rem(20) 0;
			padding-right: rem(20);

			border-right: rem(1) solid rgba(var(--black-color-rgb), 0.1);
		}

		&--right {
			width: 50%;
			padding: rem(20) 0 rem(20) rem(20);
		}
	}

	&__images {
		--highlight-color: rgba(0, 0, 0, 20%);

		position: relative;

		margin-bottom: rem(20);

		overflow: hidden;

		border-radius: var(--border-radius);
		box-shadow:
			rem(1) 0 rem(5) rem(3) rgba(255, 255, 255, 10%),
			0 0.625rem 1.25rem var(--highlight-color),
			0 0.375rem 0.375rem var(--highlight-color);

		@include transition;

		a {
			display: block;
			margin: 0;
		}

		.swiper-slide-thumb {
			position: absolute;
			z-index: -1;

			visibility: hidden;

			opacity: 0;

			pointer-events: none;
		}

		.swiper-pagination-bullet {
			width: rem(12);
			height: rem(5);

			background-color: rgba(255, 255, 255, 80%);
			border: rem(1) solid rgba(0, 0, 0, 50%);
			border-radius: 10em;
			box-shadow: 0 0 rem(2) rgba(0, 0, 0, 50%);
			opacity: 0.5;

			@include transition;

			&.swiper-pagination-bullet-active {
				background-color: white;
				transform: scale(1.25);
				opacity: 1;
			}
		}
	}

	&__map {
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow-1);
	}

	&__speak-langs {
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);

		li {
			display: block;
		}

		a {
			display: flex;
			gap: rem(5);
			align-items: center;

			color: currentcolor;
			text-decoration: none;

			@include hover {
				color: var(--theme-color);
				text-decoration: underline;
			}
		}

		.flag {
			display: block;
			width: rem(20);
		}

		.lang {
			display: block;
		}
	}

	&__meta {
		display: flex;

		flex-wrap: wrap;
		gap: rem(10);
		align-items: center;
	}

	&__updated {
		display: flex;
		gap: rem(5);
		align-items: center;

		color: var(--gray-color);

		line-height: 1;

		&:after {
			display: block;
			margin-left: rem(8);

			content: "|";
		}
	}

	&__status {
		display: flex;
		align-items: center;

		line-height: 1;

		&:after {
			display: block;
			margin-left: rem(8);

			content: "|";
		}

		&:before {
			display: block;
			width: rem(8);
			height: rem(8);
			margin-right: rem(5);

			background-color: var(--gray-color);
			border-radius: 50%;

			content: "";
		}

		&.open:before {
			background-color: var(--green-color);
		}

		&.closed:before {
			background-color: var(--accent-color);
		}
	}

	&-block {
		&__title {
			margin-bottom: 0.5em;

			color: var(--gray-color);

			font-size: em(14);
			line-height: 1.3;

			&.clickable {
				display: flex;
				gap: rem(5);
				align-items: center;

				color: var(--theme-color);

				cursor: pointer;

				user-select: none;

				svg {
					width: rem(18);
					height: rem(18);

					fill: currentcolor;
				}

				&.active {
					svg {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	&__service-types {
		display: flex;
		flex-direction: column;
		gap: rem(30);

		strong {
			display: block;
			margin-bottom: 0.5em;

			color: var(--gray-color);
			font-weight: 400;

			font-size: em(14);
			line-height: 1.3;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: rem(10);

			li {
				display: block;
			}

			a {
				display: block;
				padding: rem(2) rem(10);

				color: currentcolor;

				font-size: em(14);

				line-height: 1.3;
				text-decoration: none;

				background-color: var(--light-color);
				border: rem(1) solid rgba(var(--black-color-rgb), 0.1);
				border-radius: var(--border-radius-sm);

				@include transition;

				@include hover {
					color: white;
					text-decoration: none;

					background-color: var(--theme-color);
				}
			}
		}
	}

	.copy-coords,
	.copy-plus-code {
		margin-bottom: rem(30);

		@include sm-d {
			margin-bottom: rem(15);
		}

		&__btn {
			position: relative;

			display: inline-flex;
			gap: rem(10);
			align-items: center;

			cursor: pointer;

			user-select: none;

			@include transition;

			&:hover {
				color: var(--theme-color);
			}
		}

		&__icon {
			width: rem(18);
			height: rem(18);

			svg {
				fill: currentcolor;
			}
		}
	}

	&__phones-list {
		display: flex;
		flex-direction: column;
		gap: rem(10);
		align-items: flex-start;

		.phone-number__excerpt {
			display: block;

			cursor: pointer;

			user-select: none;
		}

		.phone-number {
			display: block;

			color: currentcolor;

			@include hover {
				color: var(--theme-color);
			}
		}
	}

	.phones__cta {
		display: block;
		margin-top: rem(10);
		padding: rem(10);

		color: rgba(#000, 0.8);
		font-size: em(14);
		line-height: 1.3;

		background-color: rgba(var(--theme-color-rgb), 0.05);
		border-radius: rem(12);
		box-shadow: var(--box-shadow-1);
	}

	&__website-links,
	&__social-networks {
		display: flex;
		flex-wrap: wrap;
		gap: rem(5);

		li {
			display: block;
		}

		a,
		span {
			display: block;
			padding: rem(5) rem(15);

			color: currentcolor;

			line-height: 1;
			text-decoration: none;

			background-color: var(--light-color);
			border: rem(1) solid rgba(var(--black-color-rgb), 0.1);
			border-radius: var(--border-radius-sm);
		}

		a {
			user-select: none;

			@include transition;

			@include hover {
				color: white;
				text-decoration: none;

				background-color: var(--theme-color);
			}
		}

		svg {
			width: rem(18);
			height: rem(18);

			fill: currentcolor;
		}
	}

	&__website-links {
		span {
			display: block;
			max-width: rem(300);
			overflow: hidden;

			white-space: nowrap;
			text-overflow: ellipsis;

			cursor: pointer;
		}
	}

	.organization__general-info {
		display: flex;
		flex-direction: column;
		gap: rem(30);

		@include md-d {
			gap: rem(20);
		}
	}

	.organization__closed-bage {
		display: inline-block;
		padding: rem(3) rem(8);

		color: var(--white-color);
		font-size: em(14);

		background-color: var(--accent-color);
		border-radius: var(--border-radius-sm);
	}

	// GOOGLE MAPS STYLES
	.map-wrapper {
		background-color: var(--placeholder-color);
		border-radius: var(--border-radius);
		cursor: pointer;
	}

	.map-static {
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow-1);

		@include transition;
	}

	.map-overlay {
		top: rem(10);
		left: rem(10);

		width: auto;
		height: auto;
		padding: rem(5) rem(10);

		color: white;
		line-height: 1;

		background-color: var(--accent-color);

		border-radius: var(--border-radius-sm);
	}

	.map-spinner {
		position: absolute;
		top: 50%; left: 50%;

		width: rem(40);
		height: rem(40);

		border: rem(4) solid #fff;
		border-top-color: transparent;
		border-radius: 50%;
		transform: translate(-50%, -50%);

		animation: spin 0.7s linear infinite;
	}

	@keyframes spin {
			0% { transform: translate(-50%, -50%) rotate(0); }
			100% { transform: translate(-50%, -50%) rotate(360deg); }
	}

	.map-interactive {
		display: none;

		border-radius: var(--border-radius);
		opacity: 0;

		transition: opacity .35s ease;
	}
}
